<div class="columns small-12 medium-5">
	<div class="holiday_card callout <%= cycle('primary','warning') %>">
		<div class="space"></div>
		<h3 class='text-center'><%= holiday.name %></h3><br />
		<p class="text-center">
			<%= better_date2(holiday.date) %>
		</p>
		<div class="space2"></div>
		<div class="text-center ">
			<div class="button warning show-edit-holiday">
				Edit Holiday
			</div>
			<div class="button warning hide-edit-holiday">
				Hide Edit
			</div>
		</div>
		<div class="edit-holiday-form">
			<%= form_for holiday, url: url, method: :patch do |t| %>
				<%= t.text_field :name %>
				<%= t.text_field :date, class: "datepickerend" %>
				<%# t.check_box :_destroy %>
				<%# t.label :_destroy, "Remove", class: "small-font-size" %>
				<%= link_to "delete", company_holiday_url(company, holiday), method: :delete %>
				<div class="space"></div>
				<%= t.submit "Edit", class: "button" %>
			<% end %>
		</div>
	</div>
</div>
