<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>


  <div class="form-header">
    <div class="row text-center align-middle form-header">

      <div class="columns">
        <p><%= resource.profile.first_name %> <%= resource.profile.last_name %> </p>
        <h2>Edit User</h2>
      </div>
    </div>
  </div>

  <%= devise_error_messages! %>

  <div class="row">
    <div class="small-12 medium-offset-3 medium-6">
      <div class="m-well align-middle">

          <%= f.fields_for :profile, @profile do |t| %>
            <div class="field">
              <%= t.label :first_name %>
              <%= t.text_field :first_name, autofocus: true %>
            </div>

            <div class="field">
              <%= t.label :last_name %>
              <%= t.text_field :last_name, autofocus: true %>
            </div>

          <% end %>

          <div class="field">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.input :time_zone %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
              <%= f.label :current_password %> <p class="small-font-size">(We need your current password to confirm your changes)</p>
              <%= f.password_field :current_password, autocomplete: "off" %>
          </div>

          <div id="show-password-settings" class="button warning">Show Password Settings</div>
          <div id="hide-password-settings" class="button warning">Hide Password Settings</div>
          <div id="password-edit-form">


            <div class="field">
              <%= f.label :password %> <p class="small-font-size">(Leave blank if you don't want to change it)</p>
              <%= f.password_field :password, autocomplete: "off" %>
              <% if @minimum_password_length %>
                <p class="small-font-size"><%= @minimum_password_length %> characters minimum</p>
            <% end %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

          </div>

          <div class="actions">
            <%= f.submit "Update", class: "button primary" %>
          </div>


  <!--       <h3>Cancel my account</h3>

        <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p> -->

        <%= link_to "Back", :back, class: "button warning" %>
      </div>
    </div>
  </div>
<% end %>
