<div class="form-header">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name, invite_token: @token, start_date: @start_date, first_name: @first_name, last_name: @last_name, email: @email, salary: @salary), method: :post, invite_token: params[:invite_token], start_date: params[:start_date]) do |f| %>

  <div class="row form-header align-middle text-center">
    <div class="columns">
      <h1>Sign Up</h1>
    </div>
  </div>
</div>

  <div class="row">
    <div class="small-12 medium-offset-3 medium-6">
      <div class="m-well align-middle">
        <%= show_error_message(@user) %>

        <%= f.fields_for :profile, @profile do |t| %>
          <div class="field">
            <%= t.label :first_name %>
            <% if params[:first_name].present? %>
              <%= t.text_field :first_name, value: params[:first_name], readonly: true, autofocus: true %>
            <% else %>
              <%= t.text_field :first_name, autofocus: true %>
            <% end %>
          </div>

          <div class="field">
            <%= t.label :last_name %>
            <% if params[:last_name].present? %>
              <%= t.text_field :last_name, value: params[:last_name], readonly: true, autofocus: true %>
            <% else %>
              <%= t.text_field :last_name, autofocus: true %>
            <% end %>
          </div>

        <% end %>

        <div class="field">
          <%= f.label :email %>
          <% if params[:email].present? %>
            <%= f.email_field :email, value: params[:email], readonly: true %>
          <% else %>
            <%= f.email_field :email, autofocus: true %>
          <% end %>
        </div>

        <div class="field">
          <%= f.input :time_zone %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <% if params[:invite_token].present? %>
          <%= hidden_field_tag :invite_token, params[:invite_token] %>
        <% end %>


        <div class="actions">
          <%= f.submit "Sign up", class: 'button primary' %>
        </div>
        <%= render "devise/shared/links" %>


      </div>
    </div>
  </div>

  <% end %>
