<% unless :join_request == true %>
	<% if employment.acceptance.present? %>
		<% @current_employment =  @current_employments.find_by(company_id: employment.company_id, acceptance: true) %>
		<tr class="table-data">
			<td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id, company: @company.id) %></td>
      <td><%= better_date(employment.start_date) %></td>
			<td><%= better_date(employment.end_date) %></td>
			<td class='text-center'>
				<% if employment.regularized == true %>
					<div class="callout small no-margin no-padding success">
						Regular
					</div>
				<% else %>
					<div class="callout small no-margin no-padding alert">
						Non-regular
					</div>
				<% end %>
			</td>

  		<%# content_tag(:td, number_with_delimiter(employment.salary)) if hr? && employed_here? %>
			<td class='text-center'><%= Role.find(employment.role_id).name %></td>
			<td class='text-center'>
				<% if employment.manager.nil? %>
				<% else %>
				<%= employment.manager.user.profile.first_name %>
					<%= employment.manager.user.profile.last_name %>
				<% end %>
			</td>
			<%= content_tag(:td, render('employments/employment_button', employment: employment, location: 'company_employment'), class: "edit-column") if @current_employment.present? && (@current_employment.is_hr? || @current_employment.is_manager?)  %>
		</tr>
	<% end %>
<% end %>
