<tr class="table-data">
  <td><%= link_to "#{employment.user.profile.first_name} #{employment.user.profile.last_name}", user_url(employment.user_id, company: @company.id) %></td>
  <td><%= better_date(employment.start_date) %></td>
  <%# content_tag(:td, number_with_delimiter(employment.salary)) if hr? && employed_here? %>
  <td><%= Role.find(employment.role_id).name %></td>
  <% if (@current_employments.find_by(company_id: params[:id]).present?) &&
    (@current_employment.role_id == @hr_officer.id) && (employment.acceptance.nil?) %>
    <td>
      <%= form_for employment, url: user_employment_url(employment.user, employment), method: :patch, in_company: true do |f| %>
        <%= f.hidden_field :acceptance, value: true %>
        <%= f.hidden_field :acceptor_id, value: @current_user.id %>
        <%= f.submit "Accept", class: "button small expanded success"%>
      <% end %>
    </td>
    <td>
      <%= form_for employment, url: user_employment_url(employment.user, employment), method: :patch, in_company: true do |f| %>
        <%= f.hidden_field :acceptance, value: false %>
        <%= f.hidden_field :acceptor_id, value: @current_user.id %>
        <%= f.submit "Reject", class: "button small expanded alert" %>
      <% end %>
    </td>
  <% else %>
    <td colspan="1"></td>
    <td colspan="1"></td>
  <% end %>
</tr>
