	<tr class="table-data">
		<td><%= link_to employment.company.name, company_url(employment.company_id) %></td>
		<td><%= better_date(employment.start_date) %></td>
		<td><%= better_date(employment.end_date) %></td>

		<!-- <td> -->
			<%# if @user.employments.find_by(company_id: employment.company_id).present? %>
				<%# if (@current_employment.present? && @current_employment.is_hr?) || (@user == @current_user) %>
					<%# number_with_delimiter(employment.salary) %>
				<%# end %>
			<%# end %>
		<!-- </td> -->

		<td>
			<%= employment.acceptance.nil? ? "Waiting" : (employment.acceptance == true ? "Approved" : "Rejected") %>
		</td>
		<td class='text-center'><%= Role.find(employment.role_id).name %></td>
		<td class='text-center'>
			<% if employment.manager.nil? %>
			<% else %>
			<%= employment.manager.user.profile.first_name %>
				<%= employment.manager.user.profile.last_name %>
			<% end %>
		</td>
		<%= content_tag(:td, render('employments/employment_button', employment: employment, location: 'company_employment'), class: "edit-column") if @current_employment.present? && (@current_employment.is_hr? || @current_employment.is_manager?) %>
	</tr>
