<div class="row">
  <div class="small-12 medium-offset-3 medium-6">

			<%= form_for @employment, url: url, method: method  do |f| %>

			<%= show_error_message(@employment) %>

		  	<div class="m-well align-middle">
          <div class="space"></div>
          <% if method == :post %>
  					<div class="field">
  					<%= f.label :company_id, "Company" %>
  					<%= f.collection_select(:company_id, @available_companies, :id, :name, {prompt: true}, {class: "select-select horizontal-max"}) %>
  						<div class="small-font-size">
  							If you can't find your company. You can create one.
  						</div>
  					</div>
  					<div class="space"></div>
          <% end %>

  					<div class="field">
  						<%= f.label :start_date, "Start Date" %>
  						<%= f.text_field :start_date, class: "datepickerstart", value: nil, "data-value": better_date2(@employment.start_date) %>
  					</div>

					<% unless @employment.id.nil? %>
						<% if (@current_employment.role_id == @hr_officer.id) && (@current_employment.company_id == @employment.company_id)%>
							<div class="field">
								<%= f.label :end_date, "End Date" %>
								<%= f.text_field :end_date, class: "datepickerstart", value: nil, "data-value": better_date2(@employment.end_date) %>
                <p class="small-font-size">* Enter if the user has left the company</p>
							</div>
						<% end %>
					<% end %>

          <% if hr? || manager? %>
  					<div class="field">
  						<%# f.label :salary %>
  						<%# f.text_field :salary %>
  					</div>
          <% end %>

					<div class="space"></div>

          <% unless @employment.id.nil? || method == :post || @current_employment.is_employee? %>
            <% if @current_employment.is_hr? %>

              <div class="field">
                <%= f.label :manager_id %>
                <%= f.collection_select(:manager_id, @managers, :id, :manager_names, {prompt: true}, {class: "select-select horizontal-max"}) %>
                <div class="space2"></div>
              </div>
            <% end %>
            <div class="row medium-up-2 small-up-1">
              <%= render 'hr_officer_options_new', url: url, method: method, f: f %>
              <%= render 'regularization_options', url: url, method: method, f: f %>
              <%= render 'manager_options_new', url: url, method: method, f: f %>
              <%# render 'subordination_options_new', url: url, method: method %>

              <%= render 'add_leave_button' if hr? %>
            </div>
            <div class="space2"></div>
					<% else%>
						<%= f.hidden_field :role_id, value: @employee.id %>
					<% end %>
            <%# render 'leave_reduction_form', f: f %>
					<%= f.submit 'Update', class: "button primary" %>
				</div>
		<% end %>
	</div>
</div>
