<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @employment.company.name, company_url(@employment.company_id), class: 'small-nav-link' %>  &nbsp; > &nbsp; Employment Edit
		</div>
	</div>
</div>

<div class="form-header">
  <div class="row text-center align-middle form-header">

    <div class="columns">
      <h4><%= @user.profile.first_name %> <%= @user.profile.last_name %></h4>
      <h2>Employment Edit</h2>
    </div>

  </div>

  <div class="row">
    <div class="columns">
      <%= render 'employments_form', url: user_employment_path(@user, @employment), method: :patch %>
    </div>
  </div>
</div>
