<% if leave_request.present? %>
	<tr class="table-data">
		<% unless at_company == false %>
			<td>
				<%= link_to user_url(leave_request.employment.user, company: @company.id) do %>
					<%= leave_request.employment.user.profile.first_name%>
					<%= leave_request.employment.user.profile.last_name %>
				<% end %>
			</td>
		<% end %>
		<td>
			<%= link_to leave_request.title, user_employment_leave_request_url(leave_request.employment.user, leave_request.employment, leave_request) %>
		</td>
		<td>
			<%= LeaveType.find_by_id(leave_request.leave_type_id).name %>
		</td>
		<td><%= better_date(leave_request.start_date) %> - <%= leave_request.start_time.strftime("%I:%M%p") %>
		</td>
		<td><%= better_date(leave_request.end_date) %> - <%= leave_request.end_time.strftime("%I:%M%p") %>
		</td>
		<td class='text-center'>
			<% if leave_request.acceptance.nil? %>
				<div class="callout small no-margin no-padding secondary">
					Waiting
				</div>
			<% elsif leave_request.acceptance == true %>
				<div class="callout small no-margin no-padding success">
					Approved
				</div>
			<% else %>
				<div class="callout small no-margin no-padding alert">
					Rejected
				</div>
			<% end %>
		</td>
		<td class='text-center'>
			<%= leave_request.acceptance.nil? ?
        nil :
				"#{User.find_by_id(leave_request.acceptor_id).profile.first_name} #{User.find_by_id(leave_request.acceptor_id).profile.last_name}" %>
		</td>
		<td class="text-center">
			<%= leave_request.show_amount %>
		</td>
		<% unless at_company == false %>
			<% if !@current_employment.blank? && hr? %>
					<%# form_for leave_request, url: user_employment_leave_request_url(leave_request.employment.user, leave_request.employment, leave_request), method: :patch, at_company: true do |f| %>
						<%# f.hidden_field :acceptance, value: true %>
						<%# f.hidden_field :acceptor_id, value: @current_user.id %>
						<%# f.submit "Accept", class: "button small expanded success"%>
					<%# end %>
					<%# form_for leave_request, url: user_employment_leave_request_url(leave_request.employment.user, leave_request.employment, leave_request), method: :patch, at_company: true do |f| %>
						<%# f.hidden_field :acceptance, value: false %>
						<%# f.hidden_field :acceptor_id, value: @current_user.id %>
						<%# f.submit "Reject", class: "button small expanded alert small" %>
					<%# end %>
				<td colspan='1'></td>
				<td colspan='1'></td>

			<% else %>

						<%# link_to edit_user_employment_leave_request_url(
							leave_request.employment.user, leave_request.employment, leave_request), at_company: true,
							class: 'button small secondary no-margin' do  %>
								<%# fa_icon "edit" %>
						<%# end %>
					<% if !@current_employment.blank? && ((hr? || manager?) || (Time.zone.today.at_beginning_of_day < leave_request.start_date && @current_user == @user && @current_employment == @employment)) %>
						<%= link_to 'Delete', user_employment_leave_request_url(leave_request.employment.user, leave_request.employment, leave_request), method: :delete, data: { confirm: "Are you sure?" }, class: 'button small alert no-margin'  %>
					<% else %>
						<td colspan="1"> </td>
					<% end %>
				</td>
				<td colspan='1'></td>

			<% end %>
		<% else %>
			<td class="edit-column">
				<% if leave_request.acceptance.nil? %>
					<% if @current_user.id ==
						leave_request.employment.user.id %>
						<%= link_to edit_user_employment_leave_request_url(
							leave_request.employment.user, leave_request.employment, leave_request), at_company: true,
							class: 'button small secondary no-margin' do  %>
								<%= fa_icon "edit" %>
						<% end %>
					<% end %>
				<% end %>
			</td>
		<% end %>
	</tr>
<% end %>
