
<div class="row">
  <div class="small-12 medium-offset-1 medium-10">

		<%= form_for @leave_request, url: url, method: method, leave_request_from_hr: false do |f| %>

			<%= show_error_message(@leave_request) %>

      <%= hidden_field_tag 'leave_request_from_hr', 'false' %>

			<div class="m-well align-middle">
				<div class="field">
					<%= f.label :title %>
					<%= f.text_field :title %>
				</div>

				<div class="field">
					<%= f.label :leave_type_id, "Type of Leave" %>
					<%= f.collection_select(:leave_type_id, @available_leave_types, :id, :name, {prompt: true}, {class: "select-select horizontal-max"}) %>
				</div>
				<br />

				<div class="field">
					<%= f.label :description %>
					<%= f.text_area :description %>
				</div>

				<div class="row">
					<div class="columns" style= "padding-right: 0.25rem;">

						<div class="field">
							<%= f.label :start_date %>
							<%= f.text_field :start_date, class: "datepickerstart", value: nil, "data-value": f.object.start_date.blank? ? better_date2(Time.zone.today) : better_date2(f.object.start_date)%>
						</div>

					</div>

					<div class="columns" style= "padding-left: 0.25rem;">
						<div class="field">
							<%= f.label :start_time %>
							<%= f.text_field :start_time, class: "timepickerstart", value: f.object.start_time.blank? ? better_time(Time.new(2017,1,1,9,0,0)) : better_time(f.object.start_time) %>
						</div>
					</div>

				</div>

				<div class="row" >
					<div class="columns" style= "padding-right: 0.25rem;">
						<div class="field">
							<%= f.label :end_date %>
							<%= f.text_field :end_date, class: "datepickerstart", value: nil, "data-value": f.object.start_date.blank? ? better_date2(Time.zone.today) : better_date2(f.object.start_date) %>
						</div>
					</div>
					<div class="columns" style= "padding-left: 0.25rem;">
						<div class="field">
							<%= f.label :end_time %>
							<%= f.text_field :end_time, class: "timepickerstart", id: 'leave-request-end-time', value: f.object.end_time.blank? ? better_time(Time.new(2017,1,1,18,0,0)) : better_time(f.object.end_time) %>
						</div>
					</div>
				</div>

        <div class="row">
          <div class="column">
            <%= f.check_box :allow_weekend_holiday_leave %>
            <%= f.label :allow_weekend_holiday_leave, "Allow Leaves on Weekends and Holidays" %>
            <p class="small-font-size black-text">* Use this option if your assigned day offs are different from your company's normal day offs. Use with caution.</p>
          </div>
        </div>


				<div class="space2"></div>

				<%= f.submit 'Submit', class: "button primary" %>
        <div class="space"></div>

        <%= link_to "Delete", user_employment_leave_request_url(@user,@employment,@leave_request), method: :delete, data: {confirm: "Are you sure?"} if method == :patch %>
      </div>
		<% end %>
	</div>
</div>
