<div class="form-header no-margin">
  <div class="row text-center align-middle form-header no-margin horizontal-max">
    <div class="columns">
      <%= @user.profile.first_name %> <%= @user.profile.last_name %> <br />
      <%= @company.name %>
      <h2>Create Leave Request for Employee</h2>
    </div>
  </div>
</div>
<div class="section-yellow-small">
  <div class="row section-yellow-small align-middle small-up-1 medium-up-2">
    <div class="columns">
      <h2 class='no-margin'>As an HR Officer or Manager</h2>
      <h3 class='no-margin'>You can enter the employees' leaves.</h3>
      <h5>For Special Occasions</h5>
        <div class="space"></div>
      <h4 class='no-margin'>Enjoy Tseklis </h4>
    </div>
    <div class="columns">
      <div class="row">
        <div class="small-12 medium-offset-1 medium-10">

      		<%= form_for @leave_request, url: user_employment_leave_requests_url(@user, @employment, leave_request_from_hr: true), method: :post do |f| %>

      			<%= show_error_message(@leave_request) %>

            <%= hidden_field_tag 'leave_request_from_hr', true %>

      			<div class="m-well align-middle">
      				<div class="field">
      					<%= f.label :title %>
      					<%= f.text_field :title %>
      				</div>

      				<div class="field">
      					<%= f.label :leave_type_id, "Type of Leave" %>
      					<%= f.collection_select(:leave_type_id, @available_leave_types, :id, :name, {prompt: true}, {class: "select-select horizontal-max"}) %>
      				</div>
      				<br />

      				<div class="field">
      					<%= f.label :description %>
      					<%= f.text_area :description %>
      				</div>

      				<div class="row">
      					<div class="columns" style= "padding-right: 0.25rem;">

      						<div class="field">
      							<%= f.label :start_date %>
      							<%= f.date_field :start_date, class: "datepickerend" %>
      						</div>

      					</div>

      					<div class="columns" style= "padding-left: 0.25rem;">
      						<div class="field">
      							<%= f.label :start_time %>
      							<%= f.date_field :start_time, class: "timepickerend" %>
      						</div>
      					</div>

      				</div>

      				<div class="row" >
      					<div class="columns" style= "padding-right: 0.25rem;">
      						<div class="field">
      							<%= f.label :end_date %>
      							<%= f.date_field :end_date, class: "datepickerend" %>
      						</div>
      					</div>
      					<div class="columns" style= "padding-left: 0.25rem;">
      						<div class="field">
      							<%= f.label :end_time %>
      							<%= f.date_field :end_time, class: "timepickerend", id: 'leave-request-end-time'%>
      						</div>
      					</div>
      				</div>

              <div class="row">
                <div class="column">
                  <%= f.check_box :allow_weekend_holiday_leave %>
                  <%= f.label :allow_weekend_holiday_leave, "Allow Leaves on Weekends and Holidays" %>
                  <p class="small-font-size black-text">* Use this option if your assigned day offs are different from your company's normal day offs. Use with caution.</p>
                </div>
              </div>

                <%= f.check_box :acceptance %>
                <%= f.label :acceptance, "Approve Leave Request" %>

              <div class="space"></div>

              <%= f.hidden_field :acceptor_id, value: @current_user.id %>

      				<%= f.submit 'Update', class: "button primary" %>
      			</div>
      		<% end %>
      	</div>
      </div>
    </div>
  </div>
</div>



<%= render 'users/user_leaves_taken', at_leave_request: true %>
