<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Create Leave Request
		</div>
	</div>
</div>
<div class="form-header no-margin">
  <div class="section-blue">
    <div class="row section-blue align-middle small-up-1 medium-up-2">
      <div class="columns">
        <h3>File your leaves the easy way</h3>
        <h4>Enjoy Tseklis </h4>
      </div>
      <div class="columns">
        <%= render 'leave_request_form',
          url: user_employment_leave_requests_url(@user, @employment, leave_request_from_hr: false),
          method: :post,
          leave_request: @leave_request,
          leave_request_from_hr: false
        %>
      </div>
    </div>
  </div>
</div>

<%= render 'users/user_leaves_taken', at_leave_request: true %>
