<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Leave Request: <%= @leave_request.title %>
		</div>
	</div>
</div>
<div class="white-bg horizontal-max">
  <div class="row show-header align-middle">
    <div class="columns small-12 medium-8">
      <h5>Leave Request</h5>
      <h2> <%= @leave_request.title %> </h2>
      <h6> Requested by: <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h6>

    </div>
    <div class="columns small-12 medium-4 align-self-right medium-text-right">
			<div class="row">
				<div class="columns">
					<% if @leave_request.acceptance.nil? || ( (@current_employment.is_hr? || @employment.manager_id == @current_employment.id )) %>
						<%= link_to edit_user_employment_leave_request_path(@user, @leave_request.employment, @leave_request), class: "button secondary " do  %>
							<%= fa_icon "edit" %>
						<% end %>
					<% end %>
				</div>
			</div>

		      <% if @leave_request.acceptance.nil? %>
		  			<% if @current_employment.present? && (@current_employment.is_hr? || @current_user == @user || @employment.manager_id == @current_employment.id) %>


              <% unless current_user == @user %>
                <%= form_for @leave_request, url: user_employment_leave_request_url(@leave_request.employment.user, @leave_request.employment, @leave_request), method: :patch, accepted: true do |f| %>
                  <%= f.hidden_field :acceptance, value: true %>
                  <%= f.hidden_field :acceptor_id, value: @current_user.id %>
                  <%= f.submit "Accept", class: "button success leave_request_button"%>
                <% end %>
              <% end %>
              <% unless @current_user == @user %>
                <%= link_to "Reject", new_user_employment_leave_request_rejection_message_url(@user, @employment, @leave_request), class: 'button alert leave_request_button horizontal-max add-button-border' %>
              <% end %>
            </div>
          </div>
  			<% end %>
      <% else %>
        <div class="callout <%= 'success' if @leave_request.acceptance == true %> <%= 'alert' if @leave_request.acceptance == false %> horizontal-max text-center">
        <div class="columns text-center">
            <h3 class= 'text-center'>
              <%= 'Approved!' if @leave_request.acceptance == true %>
              <%= 'Rejected' if @leave_request.acceptance == false %>
            </h3>
            By: <%= User.find(@leave_request.acceptor_id).profile.first_name %> <%= User.find(@leave_request.acceptor_id).profile.last_name %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="section-blue-small" style="min-height: 50vh">
  <div class="row section-blue-small align-center">
    <div class="columns small-12 medium-3 box-round-yellow white-bg black-text no-left-margin">
      <h1 class='text-center'>
        <%= @leave_request.show_amount %>
      </h1>
      <h5 class='text-center'><strong>Amount of Leaves</strong></h5>
      <div class="space2"></div>
      <h5><strong>From:</strong></h5>
      <p><strong></strong> <%= better_date(@leave_request.start_date) %> - <%= better_time(@leave_request.start_time) %></p>
      <h5><strong>To:</strong></h5>
      <p><strong></strong> <%= better_date(@leave_request.end_date) %> - <%= better_time(@leave_request.end_time) %></p>
    </div>
    <div class="columns small-12 medium-4 box-round-blue white-bg black-text no-left-margin">
      <h5><strong>Description</strong></h5>
      <p><%= @leave_request.description %></p>
    </div>
    <% if @leave_request.rejection_message.present? %>
      <div class="columns small-12 medium-4 box-round-blue white-bg black-text no-left-margin">
        <h5><strong>Reason for Rejection</strong></h5>
        <p><%= @leave_request.rejection_message.description %></p>
      </div>
    <% end %>
  </div>
</div>
