<div class="landing-contact_messages">
  <div class="row landing-contact_messages align-middle align-justify">
    <div class="columns small-12 medium-7 white-text">
      <h2><%= @landing_page_settings.contact_messages_header %></h2>
      <p><%= @landing_page_settings.contact_messages_description %></p>
    </div>
    <div class="columns small-12 medium-4 white-text align-self-right">
      <%= simple_form_for :contact_messages do |f| %>
        <%= f.label :first_name, class: 'white-text' %>
        <%= f.input_field :first_name, class: 'contact-field'  %>
        <%= f.label :last_name, class: 'white-text' %>
        <%= f.input_field :last_name, class: 'contact-field' %>
        <%= f.label :email, class: 'white-text' %>
        <%= f.input_field :email, as: :email, class: 'contact-field' %>
        <%= f.label :phone_number, class: 'white-text' %>
        <%= f.input_field :phone_number, as: :tel, class: 'contact-field' %>
        <%= f.label :country, class: 'white-text' %>
        <%= f.input_field :country, as: :country, class: 'contact-field' %>
        <%= f.label :description, class: 'white-text' %>
        <%= f.input_field :description, as: :text, class: 'contact-field text-area-max' %>
        <%= f.hint '*All fields are required' %>
        <div class="space"></div>
        <%= f.button :submit, 'Send', class: 'button warning large' %>
      <% end %>
    </div>
  </div>
</div>
