<div id="top-anchor"></div>
<div class="z-top">
  <div class="sticky navbar">

    <div class="title-bar" data-responsive-toggle="responsive-menu2" data-hide-for="medium">
      <button class="menu-icon" type="button" data-toggle="responsive-menu2" style="margin-right: 1rem;"></button>
      <div class="title-bar-title">Tseklis -  <small>Leave Tracking Management System</small></div>
    </div>

    <div class="top-bar show-for-medium" id='responsive-menu' data-topbar>
      <div class="top-bar-left show-for-medium">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="">
            <div class="row align-middle">
              <div class="columns shrink">
                <%= link_to root_path do %>
                  <div class="row collapse align-middle">
                    <!-- <div class="columns">
                      <div class="logo-round">
                        <%# fa_icon "check 2x white-text" %>
                      </div>
                    </div> -->
                    <div class="columns logo-text">
                      <% if SiteSetting.last.present? && SiteSetting.last.site_icon.present? %>
                        <div class="logo">
                          <%= image_tag SiteSetting.last.site_icon.url(:medium) %>
                        </div>
                      <% else %>
                        Tseklis
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="columns"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="dropdown menu">
          <% if current_user %>
            <li>
              <%= link_to "Home", root_url %>
            </li>
            <%= render 'partials/notifications' %>
            <% unless current_user.employments.empty? %>
              <div>
                <li>
                  <%= link_to Company.find(current_user.employments.where(acceptance: true).first.company_id).name, company_url(current_user.employments.where(acceptance: true).first.company_id) %>
                  <!-- <a>Companies</a> -->
                </li>
              </div>
            <% end %>
            <% unless current_user.profile.nil? || current_user.profile.first_name.nil? || current_user.profile.last_name.nil? %>
              <li>
                <div data-toggle="user-dropdown">
                  <a>
                    <%= fa_icon "user-circle"%>
                    <%= current_user.profile.first_name %>
                    <%= current_user.profile.last_name %>
                  </a>
                </div>
              </li>
            <% end %>
          <% else %>
            <li>
              <%# link_to "Sign Up", new_user_registration_path, class: 'button success white-text' %>
            </li>
            <li>
              <%= link_to "Sign In", new_user_session_path, class: 'button success white-text add-button-border' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>

    <%= render 'partials/small_navbar' %>

    <!-- <section class="dropdown-pane no-padding" id="companies-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-position="bottom" data-alignment="right">
      <div class=" row horizontal-max no-padding collapse">
        <%# if user_signed_in? %>
          <%# if @current_user.employed? %>
            <%# @current_user.employments.select(:company_id).distinct.each do |u| %>
              <%# link_to u.company.name, company_url(u.company),
                class: "button white-c horizontal-max no-margin text-left"
              %>
            <%# end %>
          <%# end %>
        <%# end %>
      </div>
    </section> -->
    <% if user_signed_in? %>
      <section class="dropdown-pane no-padding" id="user-dropdown" data-dropdown data-hover="true" data-hover-pane="true" data-position="bottom" data-alignment="right">
        <div class=" row horizontal-max no-padding collapse">
          <% if user_signed_in? %>
            <%= link_to "Your Profile", user_url(current_user), from_home: true, class: 'button white-c horizontal-max no-margin text-left' %>
            <%= link_to "Create Company", new_company_url, class: "button white-c horizontal-max no-margin text-left" unless current_user.employments.present? %>
            <%# link_to "Connect to a Company / Change Salary", new_user_employment_url(@current_user), class: "button white-c horizontal-max no-margin text-left" %>
            <%# link_to "Connect to a Company", new_user_employment_url(@current_user), class: "button white-c horizontal-max no-margin text-left" %>
          <% end %>
          <%= link_to "Sign Out", destroy_user_session_path, class: 'button warning horizontal-max no-margin text-left' %>
        </div>
      </section>
    <% end %>

  </div>
</div>
<div id="bottom-nav"></div>
