<div class="notification-item text-left no-margin">
  <div class="row no-padding no-margin collapse align-middle">
    <div class="columns small-12 medium-10">
      <% if notification.notice_type == 'leave_request_from_employee_to_hr' %>
          <%= link_to link_through_url(notification) do %>
            <div class="callout secondary no-margin">
              <p class='no-margin'><strong>Leave Request Created</strong></p>
              <br />
              <p class='no-margin'>
                Employee: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
              </p>
              <p class='no-margin'>
                <% if notification.employment.manager.present? %>
                Manager:  <%= notification.employment.manager.user.profile.first_name %> <%= notification.employment.manager.user.profile.last_name %>
                <% end %>
              </p>
              <br />
              <p class="no-margin">Company: <%= notification.employment.company.name %></p>
            </div>
        <% end %>
      <% elsif notification.notice_type == 'leave_request_from_employee_to_manager'%>
        <%= link_to link_through_url(notification) do %>
          <div class="callout secondary no-margin">
            <p class='no-margin'>
              <strong>Leave Request for your Approval</strong>
            </p>
            <br />
            <p class='no-margin'>
              Employee: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          </div>
        <% end %>
      <% elsif notification.notice_type == 'leave_request_from_hr_to_employee' %>
        <%= link_to link_through_url(notification) do %>
          <div class="callout secondary no-margin">
            <p class='no-margin'>
              <strong>HR Officer created a Leave Request for you</strong>
            </p>
            <br />
            <p class='no-margin'>
              HR Officer:<%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          </div>
        <% end %>
      <% elsif notification.notice_type == 'leave_request_from_hr_to_manager' %>
        <%= link_to link_through_url(notification)do %>
          <div class="callout secondary no-margin">
            <p class='no-margin'>
              <strong>An HR Officer created a Leave Request for your Employee</strong>
            </p>
            <br />
            <p class='no-margin'>
              HR Officer: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          </div>
        <% end %>
      <% elsif notification.notice_type == 'leave_request_from_manager_to_employee' %>
        <%= link_to link_through_url(notification)do %>
          <div class="callout secondary no-margin">
            <p class='no-margin'>
              <strong>You Manager created a Leave Request for you</strong>
            </p>
            <br />
            <p class='no-margin'>
              Manager: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          <% end %>
          </div>
      <% elsif notification.notice_type == 'leave_request_from_manager_to_hr' %>
        <div class="callout secondary no-margin">
          <%= link_to link_through_url(notification)do %>
            <p class='no-margin'>
              <strong>A Manager created a Leave Request for an Employee</strong>
            </p>
            <br />
            <p class='no-margin'>
              Manager: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
            </p>
            <p class="no-margin">
              Employee: <%= notification.employment.user.profile.first_name %> <%= notification.employment.user.profile.last_name %>
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          <% end %>
        </div>
      <% elsif notification.notice_type == 'leave_request_accepted' %>
        <%= link_to link_through_url(notification)do %>
          <div class="callout success no-margin">
            <p class='no-margin'>
              <strong>Your Leave Request has been approved!</strong>
            </p>
            <br />
            <p class='no-margin'>
              <% if notification.employment.manager.present? %>
                Accepted by Manager: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
              <% end %>
            </p>
            <p class='no-margin'>
              Title: <%= notification.leave_request.title %>
            </p>
            <p class='no-margin'>
              Type:  <%= LeaveType.find(notification.leave_request.leave_type_id).name %>
            </p>
            <p class='no-margin'>
              Amounts: <%= notification.leave_request.leave_amounts.sum(:amount) %>
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          </div>
        <% end %>
      <% elsif notification.notice_type == 'leave_request_rejected' %>
        <%= link_to link_through_url(notification)do %>
          <div class="callout alert no-margin">
            <p class='no-margin'>
              <strong>Your Leave Request has been Rejected</strong>
            </p>
            <br />
            <p class='no-margin'>
              Accepted by Manager: <%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %>
            </p>
            <p class='no-margin'>
              You may need to contact your Manager regarding the leave's rejection rationale.
            </p>
            <br />
            <p class="no-margin">Company: <%= notification.employment.company.name %></p>
          </div>
        <% end %>
      <% elsif notification.notice_type == 'join_company' %>
        <%= link_to link_through_url(notification, join_company: true) do %>
          <div class="callout primary no-margin">
            <p class='no-margin'>
              <strong><%= notification.acting_user.profile.first_name %> <%= notification.acting_user.profile.last_name %> </strong> has joined
            </p>
            <br />
            <p class='no-margin'>
              Company: <%= notification.employment.company.name %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="columns small-12 medium-2 text-right">
      <div class="space show-for-small-only"></div>
      <%= better_datetime(notification.created_at) %>
    </div>
  </div>
</div>
