<%= simple_form_for(@user, url: user_path, method: :patch) do |f| %>


  <div class="form-header">
    <div class="row text-center align-middle form-header">
      <div class="columns">
        <p><%= @user.profile.first_name %> <%= @user.profile.last_name %> </p>
        <h2>Edit User Profile</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-offset-3 medium-6">
      <div class="m-well align-middle">

        <%= show_error_message(@user) %>

        <%= f.fields_for :profile, @profile do |t| %>
          <div class="field">
            <%= t.label :first_name %>
            <%= t.text_field :first_name, autofocus: true %>
          </div>

           <div class="field">
            <%= t.label :last_name %>
            <%= t.text_field :last_name, autofocus: true %>
          </div>

        <% end %>

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.input :time_zone %>
        </div>

        <div class="actions">
          <%= f.submit "Submit", class: 'button primary' %>
        </div>

      </div>
    </div>
  </div>
<% end %>
