<div class="small-nav white-border-bottom">
  <div class="row small-nav ">
    <div class="columns">
       <%= link_to 'Back', url_for(:back), class: 'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; 	&nbsp; <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp;
       <% if @user == @current_user %>
        > &nbsp; Your Profile
       <% else %>
        > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; User Profile
       <% end %>
    </div>
  </div>
</div>
<div class="horizontal-max white-bg">
	<div class="row align-middle show-header">
		<div class="columns small-12 medium-8">
			<h1 class=""> <%= @user.profile.first_name %> <%= @user.profile.last_name %> </h1>
			<%= @user.email %><br/>
		</div>
		<div class="columns medium-3 small-12 text-right">
			<div class="space"></div>
			<%= link_to "Edit Profile", edit_user_url(params[:id]), class: "button primary text-right" if  @current_employment.present? && @current_employment.is_hr? && @user != @current_user %>
			<%= link_to "Edit Account", edit_user_registration_url, class: "button primary text-right" if @user == @current_user %>
		</div>
	</div>
</div>
<%= render 'user_leaves_taken', leave_request_form: false, homepage: false %>
<div class="space"></div>
<%= render 'employments_table' %>
<%= render 'user_leave_requests_table' %>
