<% if @current_user.employed? %>
  <%= render 'partials/welcome' %>
  
  <%= render 'companies/hr_dashboard_button' if @current_employment.is_hr? %>
  <%= render 'companies/hr_dashboard' if @current_employment.is_hr? %>
  <%= render 'companies/manager_dashboard_button' if @current_employment.is_manager? %>
  <%= render 'companies/manager_dashboard' if @current_employment.is_manager? %>

<% end %>
<%# render 'partials/search' %>
<%= render 'partials/no_company' unless @current_user.employed? %>
<%= render 'partials/no_leave_types' unless @has_leave_types || @current_user.employed? == false %>
<%= render 'partials/no_acceptance_company' if @current_user.employed? && accepted? == false %>
<%= render 'partials/no_leave_requests' if accepted? && @has_leave_types && @has_leave_requests == false  %>
<%= render 'users/user_leaves_taken', homepage: true if @accepted %>
