<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Projects
		</div>
	</div>
</div>
<div class="show-header">
  <div class="row align-middle show-header">
    <div class="columns small-12 medium-10">
      <h4><%= @company.name %></h4>
      <h2>Projects</h2>
    </div>
    <div class="columns small-6 medium-2">

      <%= link_to "Create Project", new_company_project_url(@company), class: "button primary add-button-border small-margin" if hr? || manager? || current_department_manager? %>
			<%= link_to "Enter Project Times", enter_time_company_projects_url(@company, @project), class: "button success add-button-border small-margin " %>
			<% if project_manager? || department_manager? || hr? || manager? %>
				<%= link_to "Reports", reports_company_projects_url(@company, start_date: Time.zone.today.at_beginning_of_month, end_date: Time.zone.today.at_end_of_month, type: "Employee Consolidated"), class: "button warning add-button-border small-margin" %>
			<% end %>
    </div>
  </div>
</div>
<div class="space"></div>
<div class="row small-up-1 medium-up-3" >
	<%= render partial: 'projects/project', collection: @projects, as: 'project' %>
</div>
