<% if @company.leave_requests.present? %>
	<div class="row vertical-padding">
		<div class="columns">
			<div class="row align-center">
				<div class="columns">
					<h4><%= link_to "Leave Requests", company_leave_requests_url(@company)%></h4>
				</div>
				<div class="columns text-right">
					<%= link_to "Export as .xlsx", company_leave_requests_url(@company, format: 'xlsx'), class: 'button button-primary add-button-border' %>
				</div>
			</div>

			<div class="space"></div>
			<div class="row">
				<div class="column">
					<div class="table-scroll">
						<table class="table" style='min-width: 100%;'>
							<thead>
								<tr>
									<th>Employee</th>
									<th>Title</th>
									<th>Leave Type</th>
									<th>Start</th>
									<th>End</th>
									<th class='text-center'>Status</th>
									<th class='text-center'>Reviewer</th>
									<th class="text-center">Amount</th>
									<th colspan="1"></th>
									<th colspan="1"></th>
								</tr>
							</thead>
							<tbody id="leave_requests">
	              <%= render @leave_requests, at_company: true %>
							</tbody>
						</table>
					</div>
          <div class="row align-center text-center">
            <div class="column shrink">
							<div id="leave_request_paginator_company">
								<%= paginate @leave_requests, param_name: 'leave_requests_page', remote: true %>
							</div>
							<div class="small-font-size" id="leave_request_info">
								<%= page_entries_info @leave_requests %>
							</div>
						</div>
          </div>
				</div>
		</div>
	</div>

<% end %>
