<div class="text-right">
  <div class="button warning" data-toggle="company-dropdown"><i class="fa fa-bars fa-2x white-text"></i></div>
  <section class="dropdown-pane no-padding" id="company-dropdown" data-dropdown data-hover="true" data-hover-pane="true" >
    <div class="row horizontal-max no-margin no-padding collapse">
      <div class="columns small-up-1 medium-up-1">
        <% if @current_employment.present? && @has_leave_types %>
          <div class="columns no-padding">
            <%= link_to "Create a Leave Request",
                new_user_employment_leave_request_url(@current_user, @current_employment),
                class: "button white-c horizontal-max no-margin text-left" %>
          </div>
          <div class="columns no-padding">
            <%= link_to "Time Requests",
                company_time_requests_url(@company),
                class: "button white-c horizontal-max no-margin text-left" %>
          </div>
          <div class="columns no-padding">
            <%= link_to "Holidays", company_holidays_url(@company.id), class: "button white-c horizontal-max no-margin text-left" %>
          </div>
          <div class="columns no-padding">
            <%# link_to "Departments", company_departments_url(@company.id), class: "button white-c horizontal-max no-margin text-left" if @company.offshore? %>
            <%# link_to "Projects", company_projects_url(@company.id), class: "button white-c horizontal-max no-margin text-left" if @company.offshore? %>
          </div>
        <% end %>
        <% if (@current_employment.present? && (@current_employment.is_hr?)) %>
          <div class="columns no-padding">
            <%= link_to "Company Settings", edit_company_url(@company.id), class: "button white-c horizontal-max no-margin text-left" %>
          </div>
        <% end %>
        <% if (@current_employment.present? && (hr? || manager?)) %>
          <div class="columns no-padding">
            <%= link_to "Invite Employee", new_company_invite_url(@company), class: "button white-c horizontal-max no-margin text-left" %>
          </div>
        <% end %>
        <% if present_employment? && hr? %>
          <div class="columns no-padding">
            <%= link_to "Company Costs", company_costs_url(@company), class: 'button white-c horizontal-max no-margin text-left' if @company.offshore? %>
          </div>
        <% end %>
        <div class="columns no-padding">
          <%= link_to "Import Leave Requests", company_import_page_url(@company), class: "button white-c horizontal-max no-margin text-left" %>
        </div>
        <div class="columns no-padding">
          <%= link_to "Import Employees", company_employee_import_page_url(@company), class: "button white-c horizontal-max no-margin text-left" %>
        </div>
        <div class="columns no-padding">
          <%= link_to "Reports", company_reports_url(@company), class: "button white-c horizontal-max no-margin text-left" %>
        </div>
      </div>
    </div>
  </section>
</div>
