<div class="columns">
  <div id="leave_data_header">
     <%= render partial: 'companies/leave_data_header', locals: {year_search: @year_search} %>
   </div>
   <h2>Leave Data</h2>
   <div class="space"></div>
</div>
<div class="columns">
  <% if @company.leave_amounts.sum(:amount) > 0 %>
    <table class="table"  style='min-width: 100%;'>
      <thead>
        <tr>
          <th>Name</th>
          <div class="text-center">
            <% @company.leave_types.each do |leave_type| %>
              <th><%= leave_type.name %></th>
            <% end %>
            <th>Total</th>
          </div>
        </tr>
      </thead>
      <tbody id="leave_data">
        <%= render partial: 'companies/leave_data', collection: @leave_data, as: 'leave_data', month_used: params[:month_used] %>
      </tbody>
    </table>
  <% else %>
    <div class="row">
      <div class="columns text-center">
        <h1>No Data</h1>
      </div>
    </div>
<% end %>
</div>
