<% if @company.employments.find_by(acceptance: nil).present? %>
	<div class="row">
		<div class="columns">
			<h4>Join Requests</h4>
				<div class="space"></div>
				<div class="row" id="join-requests">
					<div class="column">
						<table class="table" style='min-width: 100%;'>
							<thead>
								<tr>
									<th>Name</th>
									<th>Start Date</th>
									<%# content_tag(:th, 'Salary') if hr? && employed_here? %>
									<th>Role</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody id='join_requests'>
								<%= render partial: 'employments/company_join_request', collection: @join_requests, as: 'employment', join_request: true, in_company: true %>
								<%# @join_requests.each do |employment| %>
									<%# render 'users/user',
										employment: employment,
										user: employment.user,
										join_request: true,
										in_company: true,
										url: user_employment_url(
											employment.user,
											employment),
										method: :patch %>
								<%# end %>
							</tbody>
						</table>
						<div class="row align-center text-center">
							<div class="column shrink">
								<div id="join_requests_paginator_company">
									<%= paginate @join_requests, remote: true, param_name: 'join_requests_page' %>
								</div>
								<!-- <div class="small-font-size" id="join_requests_info">
									<%= page_entries_info @join_requests  %>
								</div> -->
							</div>
						</div>
					</div>
				</div>

				<div class="space2"></div>
		</div>
	</div>
<% end %>
