<h5>Leave Types</h5> <br />

<%= input.nested_fields_for :leave_types do |leave_type| %>

	<% unless leave_type.object.name ==
		"Unpaid" || leave_type.object.name ==
			"Non-paid" %>
		<div class="row">
			<div class="columns" style="padding-right: 0.25rem;">
			 	<%= leave_type.label :name %>
		  	<%= leave_type.text_field :name,  placeholder: "Enter Leave Type" %>
			</div>
			<div class="columns" style="padding-left:0.25rem;">
			  <%= leave_type.label :amount, "Annual Leaves" %>
		  	<%= leave_type.number_field :amount, placeholder: "Annual Leaves" %>
			</div>
		</div>

		<div class="row">
			<div class="columns">
			  <%# leave_type.remove_nested_fields_link 'Delete', class: "small-font-size"%>
		  	<%= leave_type.check_box :_destroy %>
		  	<%= leave_type.label :_destroy, "Remove", class: "small-font-size" %>
			</div>
		</div>

	  <div class="space"></div>
	<% end %>
<% end %>

<div class="space"></div>
<div class="row">
	<div class="columns text-center">
		<%= input.add_nested_fields_link :leave_types, "Add a leave Type", class: "button warning"%>
	</div>

</div>
