<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; Import Leave Requests
		</div>
	</div>
</div>
<div class="form-header no-margin">
  <div class="row form-header align-middle">
    <div class="columns small-12 medium-6">
      <h3>Import Leave Requests</h3>
      <h5>CSV / Excel</h5>
    </div>
    <div class="columns small-12 medium-offset-1 medium-4 align-self-middle">
      <div class="m-well">
        <div class="space"></div>
        <%= form_tag company_import_leave_requests_path(@company), multipart: true do %>
          <%= file_field_tag :file %>
          <div class="space"></div>
          <%= submit_tag "Import", class: 'button primary add-button-border'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="columns small-12 medium-4">
    <h4>Download Sample Import File</h4>
    <%= link_to 'Download Link', '/leave_request_imports/Tseklis-Sample-Import.xlsx' %>
  </div>
  <div class="columns small-12 medium-4">
    <h4>Delete Import Data</h4>
    <p>Delete Imported Data in one go by uploading the same file here.</p>
    <div class="m-well">
      <div class="space"></div>
      <%= form_tag company_delete_leave_requests_path(@company), multipart: true do %>
        <%= file_field_tag :file %>
        <div class="space"></div>
        <%= submit_tag "Delete", class: 'button primary add-button-border'%>
      <% end %>
    </div>
  </div>
</div>
