<div style='background-color: #29a4e9; padding: 10px;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 1rem; border-radius: 10px;'>
    <h3>You've been invited to work with <%= @invite.company.name %>!</h3>
    <p>
      <%= @sender.profile.first_name %> <%= @sender.profile.last_name %> just sent you an invitation to join <strong><%= @invite.company.name %></strong> through Tseklis.com!
    </p>
    <p>
      To access the company, please click on the link below:
    </p>

    <a href='<%= company_url(@invite.company) %>'>
      Click Here
    </a>

    <br />
    <br />
    <p>Thank you,</p>
    <p>Tseklis Team</p>
  </div>
</div>
