
body {
	position: relative;

	// monkey patch for horizontal scrolling problem.
	// figure out the problem and properly solve it.
	// problem is with forms.
	overflow-x: hidden;
	letter-spacing: 0.1px;
}

a {
	color: black;
	text-decoration: none;
}

input {
	width: 100%;
}

input.button.not-expanded {
	width: auto;
}


select {
	width: 100%;
}

[type="checkbox"] {
	width: auto;
	margin: 0.3rem;
	margin-right: 0;
}

.z-top {
	z-index: 10;
}
// texts

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

//

.no-padding {
	padding: 0;
}

.no-sidepadding {
  padding-left: 0;
  padding-right: 0;
}

.no-rightpadding {
	padding-right: 0;
}

.no-margin {
	margin: 0;
}

.no-left-margin {
	margin-left: 0;
}

.top-margin {
	margin-top: 1rem;
}

.vertical-padding {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.vertical-padding2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.padding {
	padding: 1rem;
}


.vertical-max {
	max-height: 100vh;
	height: 100vh;
}

.v-with-nav {
	height: 90vh;
}

.vh-max {
	max-height: 100vh;
	height: 100vh;
	max-width: 100vw;
	width: 100vw;
}

.vh-nav {
	height: 5vh;
}

.horizontal-max {
	max-width: 100%;
	width: 100%;
}


.form-default {
	background-color: #EEEEEE;
	padding: 2rem;
	border-radius: 2rem;
}

.small-font-size {
	font-size: 0.8rem;
}


.white-text {
	color: white;
}

.black-text {
  color: black;
}

.blue-text {
	color: #29a4e9;
}

.space {
	height: 1rem;
}

.space2 {
	height: 2rem;
}

.space3 {
	height: 3rem;
}

.space4 {
	height: 4rem;
}

.space5 {
	height: 5rem;
}


// Colors



// sticky

// .menu {
//     top: 0;
//     position: -webkit-sticky;
//     position: sticky;
// }

// .sticky {
//     top: 0;
//     position: fixed;
// }

.margin-none {
	margin: 0;
}

.logo-text {
	margin-left: 0.3rem;
}

.card-row {
	margin: 0.5rem;
	padding: 0.5rem;
}

// Alignment


.top-reposition{
	margin-top: -3.2vh;
}

// Menu Options

.container {
	position: relative;
}

.menu-right{
		right: 0;
}

 // Containers

.m-well {
	background-color: #eee;
	border-radius: 1rem;
	padding: 1.5rem;
	margin: 1rem;
}

.m-well2 {
	background-color: #eee;
	border-radius: 0.5rem;
	padding: 1rem;
	margin: 0.5rem;
}

.m-well3 {
	width: inherit;
	background-color: #eee;
	border-radius: 0.5rem;
	padding: 1rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}


 // callout

.callout {
	margin: 1rem;
	padding: 1.5rem;
	background-color: #fff19c;
}

.shadow {
	box-shadow: 0px 2px 2px LightGrey;
}

// BG Colors
.black-bg {
	background: black;
}

.white-bg {
	background: white;
}

.graymax-bg {
	background: #eee;
}

.adopt-height {
	height: inherit;
}

.h-1 {
	font-size: 4rem;
}

.input-group-button {
	width: 20%;
}

// .leave_request_button {
// 	min-width: 50%;
// 	max-width: 50%;
// }


.callout.small{
	padding: 0;
	margin: 0;
}

.button-margin {
	margin: 0.2rem;
}

a.user-table-anchor {
    display: block;
    position: relative;
    top: -130px;
    visibility: hidden;
}

span.h3smaller {
	font-size: 1.5rem;
}

.green-text {
	color: #27c229;
}

.red-text {
	color: #f22613;
}
//
// .input.date.required.re_date_as_of{
// 	label.date.required{
// 		color: white;
// 	}
// }
