.holiday_card {
	padding: 1.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
	min-height: auto;
	max-min-height: 100%;
}

.company_card {
	padding: 1rem;
	margin: 0.5rem;
	border-radius: 1rem;
	min-height: auto;
	max-min-height: 100%;
}

.button.small {
	margin: 0;
}

// Homepage styles

.home-create-company, .home-connect-company {
	color: white;
	padding: 1rem;
}

.home-create-company {
	background-color: white;
  min-height: 7rem;
  line-min-height: 3.5rem;
}

.home-connect-company {
	background-color: white;
  min-height: 7rem;
  line-min-height: 4rem;
}



// Leave styles

.show-leave {
  background-color: #393945;
	padding: 2rem 0 2rem 0;
	color: white;
	line-min-height: 4rem;
}

// Callouts

.callout.small.notice {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}


// Table Customizations

.edit-column {
	width: 5vw;
}

// Menu Customizations

section.dropdown-pane {
	border: none;
}

// Div headers

.form-header {
	min-height: 20rem;
	background: #FFF;
	margin-bottom: 2rem;
}

.show-header {
	min-height: 20rem;
	background: #FFF;
}

.section-blue {
	min-height: 20rem;
	background-color: #29a4e9;
	color: white;
	padding: 2rem 0rem 2rem 0rem;
}

.section-blue-small {
	background-color: #29a4e9;
	color: white;
	padding: 1.5rem 0rem 1.5rem 0rem;
}

.section-blue-small-padding {
	background-color: #29a4e9;
	color: white;
	padding: 1.5rem;
}

.section-blue-small-notification {
	background-color: #29a4e9;
	color: white;
	padding: 1.5rem;
	min-height: 100vh;
}

.section-green-small {
	background-color: #27c229;
	color: white;
	padding: 2rem 0rem 2rem 0rem;
}

.section-yellow-small {
	background-color: #ffae00;
	color: black;
	padding: 1.5rem 0rem 1.5rem 0rem;
}

.section-yellow-small-padding {
	background-color: #ffae00;
	color: black;
	padding: 1.5rem 0rem 1.5rem 0rem;
}

.section-white-small {
	background-color: white;
	color: black;
	padding: 1.5rem 0rem 1.5rem 0rem;
}

.section-white-notification {
	background-color: white;
	color: black;
}

.box-round-blue {
	min-height: 20rem;
	height: inherit;
	background-color: #29a4e9;
	color: white;
	padding: 2rem;
	border-radius: 1.5rem;
	margin: 1rem;
}

.box-round-yellow {
	min-height: 20rem;
	background-color: #ffae00;
	color: white;
	padding: 2rem;
	border-radius: 1.5rem;
	margin: 1rem;
}

.no-leave-request {
	min-min-height: 20rem;
	background: #FFF;
}

.footer {
	min-height: 20rem;
	width: 100%;
	background: #191925;
	color: #fff;
}

// Font-sizes

.h-1 {
	font-size: 5rem;
}

// Buttons
$miko-button-border: 0.3rem;
.button {
	&.primary {
		color: white;
		&:hover {
		 	color: white;
		}
	}
	&.success {
		color: white;
		 &:hover {
		 	color: white;
		}
	}
	&.alert {
		color: white;
		&:hover {
		 	color: white;
		}
  }
  &.warning.large {
		color: black;
		&:hover {
		 	color: white;
		}
	}
}

.add-button-border {
	border-radius: $miko-button-border;
}
.no-button-border {
	border-radius: 0;
}

// Topbar
$top-bar-min-height: 5%;
.top-bar {
	min-height: $top-bar-min-height;
  background-color: #f7f7f9;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);

}

.logo-round {
	border-radius: 50%;
	background-color: #29a4e9;
	padding: 0rem;
}

.notification-dropdown {
	min-height: 0vh;
	max-height: 50vh;
	width: 40rem;
	max-width: 40rem;
  margin-top: 10px;
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
	overflow-y: hide;
  &div.notification-item {
		min-height: 3rem;
		width: 100%;
		max-width: 100%;
		padding: 1rem 1rem 0rem 1rem;
		font-size: 0.9rem;
		margin: 0;
		border: 0.1rem red;
  }
	font-size: 0.9rem;
}

.dropdown-pane {
	box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

@media only screen and (max-width: 500px) {
	.notification-dropdown {
		min-height: 0vh;
		width: 90%;
		max-width: 40rem;
	  margin-top: 10px;
	  &div.notification-item {
			min-height: 3rem;
			width: 100%;
			max-width: 100%;
			padding: 1rem 1rem 0rem 1rem;
			font-size: 0.9rem;
			margin: 0;
			border: 0.1rem red;
	  }
		font-size: 0.9rem;
	}
}


.notification-item {
	min-height: 3rem;
	width: 100%;
	display: block;
	max-width: 100%;
	padding: 1.5rem 1rem 1.5rem 1rem;
	font-size: 0.8rem;
	margin: 0;
	border-bottom: 0.1px solid gray;
}

.notification-row {
	min-height: 3rem;
	width: 100%;
	display: block;
	max-width: 100%;
	padding: 1.5rem 1rem 1.5rem 1rem;
	font-size: 0.9rem;
	margin: 0;
	border-bottom: 0.1px solid gray;
	word-wrap: break-word;
}

.notification-scroll {
	overflow-y: scroll;
	height: 40vh;
}

.callout.no-margin {
	margin: 0;
}

span.inline-space {
	width: 30rem;
}
// table styles

.table-data {
  font-size: 0.9rem;
}

.small-nav {
	padding: 0.5rem;
	color: white;
	background-color: #29a4e9;
}

.white-border-bottom {
	border-bottom: 0.1px solid white;
}

.small-nav-link {
	color: white;
}

// Typography

// Small menu
