<div style='background-color: #29a4e9; padding: 10px;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 1rem; border-radius: 10px;'>
    <h3>Hello <%= @resource.profile.first_name %> <%= @resource.profile.last_name %>!</h3>

    <% if @resource.try(:unconfirmed_email?) %>
      <p>We're contacting you to notify you that your email is being changed to <%= @resource.unconfirmed_email %>.</p>
      <br />
      <p>Thank you,</p>
      <p>Tseklis Team</p>
    <% else %>
      <p>We're contacting you to notify you that your email has been changed to <%= @resource.email %>.</p>
      <br />
      <p>Thank you,</p>
      <p>Tseklis Team</p>
    <% end %>
  </div>
</div>
