<div style='background-color: #29a4e9; padding: 10px;'>
  <div style='font-family: "Arial"; background-color: #f7f7f9; padding: 1rem; border-radius: 10px;'>
    <h3>Hello <%= @resource.profile.first_name %> <%= @resource.profile.last_name %>!</h3>

    <p>Your account has been locked due to an excessive number of unsuccessful sign in attempts.</p>

    <p>Click the link below to unlock your account:</p>

    <p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>

    <br />
    <p>Thank you,</p>
    <p>Tseklis Team</p>
  </div>
</div>
