<%= form_tag company_time_requests_url(@company), method: :get %>
<div class="row align-middle">
  <div class="column small-12 medium-4 large-6">
    <h4><%= @date_string %></h4>
  </div>
  <div class="column small-4 large-offset-1 large-2 medium-3">
    <%= select_year(Time.zone.now) %>
  </div>
  <div class="column small-4 large-2 medium-3">
    <%= select_month(Time.zone.now) %>
  </div>
  <div class="column small-4 large-1 medium-2">
    <%= submit_tag 'Submit', class: 'button button-primary add-button-border'%>
  </div>
</div>
