<div class="small-nav white-border-bottom">
	<div class="row small-nav">
		<div class="columns">
			<%= link_to 'Back', url_for(:back), class:  'small-nav-link' %> 	&nbsp; 	&nbsp; | 	&nbsp; &nbsp;  <%= link_to "Home", root_url, class: 'small-nav-link' %> &nbsp; > &nbsp; <%= link_to @company.name, company_url(@company), class: 'small-nav-link' %>  &nbsp; > &nbsp; <%= link_to "Reports", company_reports_url(@company), class: 'small-nav-link' %> &nbsp; > &nbsp; Remaining Leaves
		</div>
	</div>
</div>
<div class="space2"></div>
<div class="row">
  <div class="columns medium-6">
    <h4>Remaining Leaves <small><%= 'as of ' + better_date(@r_date2) unless @r_date.blank? %></small></h4>
  </div>
  <div class="columns medium-6 text-right">
    <%= link_to "Export to .xlsx", remaining_leaves_company_reports_url(@company, format: 'xlsx', re: @r_date), class: 'button primary' %>
    <%= render 'reports/remaining_leaves/remaining_date' %>
  </div>
</div>
<div class="row">
  <div class="columns">
    <%= render 'reports/remaining_leaves/remaining_leaves_table' %>
  </div>
</div>
