<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107409164-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-107409164-1');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : SiteSetting.last.site_name %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% if SiteSetting.last.present? && SiteSetting.last.site_icon.present? %>
        <%= favicon_link_tag 'favicon.ico' %>
    <% else %>
    <% end %>

  </head>

  <body>

    <%= render 'partials/navbar' %>
      <div class="yield-container">
      <% unless no_flash_pages %>
        <% flash.each do |key, value| %>

          <div class="callout <%= key %>" data-closable>
            <%= value %>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        <% end %>
      <% end %>

  		<%= yield %>
    </div>
    <%# render 'layouts/google_analytics' %>

  </body>
</html>
